<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Online Examination System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.myapp.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.myapp.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.myapp.servlets.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionServlet</display-name>
    <servlet-name>QuestionServlet</servlet-name>
    <servlet-class>com.myapp.servlets.QuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionServlet</servlet-name>
    <url-pattern>/QuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.myapp.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadExamsServlet</display-name>
    <servlet-name>LoadExamsServlet</servlet-name>
    <servlet-class>com.myapp.servlets.LoadExamsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadExamsServlet</servlet-name>
    <url-pattern>/LoadExamsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadQuestionsServlet</display-name>
    <servlet-name>LoadQuestionsServlet</servlet-name>
    <servlet-class>com.myapp.servlets.LoadQuestionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadQuestionsServlet</servlet-name>
    <url-pattern>/LoadQuestionsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitExamServlet</display-name>
    <servlet-name>SubmitExamServlet</servlet-name>
    <servlet-class>com.myapp.servlets.SubmitExamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitExamServlet</servlet-name>
    <url-pattern>/SubmitExamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminScoresServlet</display-name>
    <servlet-name>AdminScoresServlet</servlet-name>
    <servlet-class>com.myapp.servlets.AdminScoresServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminScoresServlet</servlet-name>
    <url-pattern>/AdminScoresServlet</url-pattern>
  </servlet-mapping>
</web-app>